{% extends 'base.html' %}
{% load static %}
{% block content %}


        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                       
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Please check your email, we have sent a reset password link there</h2>
                        
                    </div>
                </div>
            </div>
        </section>

    </div>

      {% endblock %}