
{% extends 'base.html' %}
{% load static %}
{% block content %}

  
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-xs-12" >
          <div class="sidenav wow fadeInLeft animated new">
            
          </div>
        </div>
        <div class="col-sm-10 col-xs-12 product-single">
          <div class="main">
           <div class=" column main-top-section-product">
           
            <div class="col-sm-10 col-xs-12 ">
              <div class="main-product-sec">
                <div class="main_sub_product">
                  <a href="product-two.html">
                  <div class="image-section">
                    <img src="{{products.image.url}}">
                    <div class="hover-image">
                      <img src="{% static 'images/product/icon.png' %}">
                    </div>
                    
                  </div>
                </a>
                 <div class="main-title-paymnt-heading">
                  <a href="#">
                    <h2>{{products.title}}</h2>
                  </a>
                  <h3>{{products.price}}$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                       <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                  <div class="description">
                    <p>{{products.description}}</p>
                </div>
                <div class="main-delivrd-section-sub">
                  <h2>Fulfilled By: </h2>
                  <h5>XYZ</h5>
                </div>
              </div>
            </div>
          </div>

           <div class="col-sm-2 col-xs-12 main-prodct-left">
            {% for img in relate_image %}
             <div class="main-product-left-sec">
               <img src="{{img.relate_image.url}}"> 
            </div>
            {% endfor %}
            </div>
        </div>
        {% endblock content %}